@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.Home {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    font-family: "Roboto Slab";
}
.Home .title {
    color: #2F3C7E;
    font-size: large;
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
}
.Home .dashboard {
    background-color: #A3ABD0;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-areas:
    "nav hours";
    gap: 10px;
}
.Home .navigation {
    display: grid;
    grid-area: nav;
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
}
.Home ul {
    list-style: none;
}
.Home .link {
    text-decoration: none;
    color: #2F3C7E;
}
.Home .link:hover {
    color: #A3ABD0;
}
.Home .navigation .main {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}
.Home #x {
    padding-top: 10px;
}
.Home .y {
    padding-bottom: 10px;
}
.Home .hours {
    display: grid;
    grid-area: hours;
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
}
.Home .hours h1 {
    color: #2F3C7E;
}