@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.Home {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    font-family: "Roboto Slab";
}
.Home .title {
    display: flex;
    position: relative;
    right: 10px;
    color: #2F3C7E;
    font-size: large;
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 0;
    margin-top: 3em;
    margin-bottom: 0.5em;
}
.Home .dashboard {
    background-color: #A3ABD0;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-areas:
    "nav announce"
    "nav ticket"
    "nav hours";
    grid-template-columns: 1fr 2fr;
    gap: 25px;
}

.Home .dashboard * {
    margin: 10px;
}


.Home .navigation {
    display: grid;
    grid-area: nav;
    text-align: center;
}
.Home .navigation h2 {
    padding-bottom: 10px;
}
.Home .navigation .content {
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
}
.Home ul {
    list-style: none;
}
.Home .link {
    text-decoration: none;
    color: #2F3C7E;
}
.Home .link:hover {
    color: #A3ABD0;
}
.Home .navigation .main {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
}
.Home #x {
    padding-top: 10px;
}
.Home .y {
    padding-bottom: 10px;
}
.Home .hours {
    display: grid;
    grid-area: hours;
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 0;
}
.Home .hours h1 {
    color: #2F3C7E;
}
.Home .announce {
    display: grid;
    grid-area: announce;
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    gap: 5px;
}
.Home .ticket {
    display: grid;
    grid-area: ticket;
    background-color: #FFF4F5;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    gap: 5px;
}