#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/*     
        CONTENTS    
1) Home/Login
2) Posts
3) Account/Leave Request/Report issue
4) Contact
5) Employee
6) Documents
7) Programs/Training


1) Home/Login
  a) Login Page
    /* CSS codes */
  b) Sign-up page
    /* CSS codes */
  c) Home page
    /* CSS codes */

2) Posts
  a) Open/Reply to post
    /* CSS codes */
  b) View Posts
    /* CSS codes */
  c) Create Posts

3) Account/Leave Request/Report issue
  a) Personal information
    /* CSS codes */
  b) Report Issue
    /* CSS codes */
  c) Leave Request
    /* CSS codes */
  d) Update personal information
    /* CSS codes */

4) Contact
  a) Contact/FAQ
    /* CSS codes */

5) Employee
  a) Employee
    /* CSS codes */

6) Documents
  a) Home Page
    /* CSS codes */

7) Programs/Training
  a) program1
    /* CSS codes */

*/
